.center {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin: 100px;
    // border-style: dashed;
    // filter: blur(4px);
    // position: absolute;
}

.blurOn {
    filter: blur(4px);
}

.text-center {
    margin: auto;
    margin-bottom: -20%;
    width: 70%;
    padding: 10px;
    text-align: center;
}

.show-hide {
    margin-top: -20%;
    display: flex;
    justify-content: center;
}

ion-content {
    --ion-background-color: transparent;
}