<ion-header [translucent]="true">
    <ion-toolbar color="light">
        <ion-title>
            My Social Medias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>

            <ion-fab-button color="success" (click)="addSocial('Whatsapp')">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>

            <ion-fab-button color="secondary" (click)="addSocial('Twitter')">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="addSocial('Instagram')">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="warning" (click)="addSocial('Snapshat')">
                <ion-icon name="logo-snapchat"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="dark" (click)="addSocial('Tiktok')">
                <ion-icon name="logo-tiktok"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" (click)="addSocial('Facebook')">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>

    <ion-list>
        <ion-item *ngFor='let social of allSocials' style="margin: 10%;">
            <ion-avatar slot="start">
                <img *ngIf="social.key === 'Whatsapp'" src="assets/whatsapp.png" />
                <img *ngIf="social.key === 'Twitter'" src="assets/twitter.png" />
                <img *ngIf="social.key === 'Instagram'" src="assets/instagram.png" />
                <img *ngIf="social.key === 'Snapshat'" src="assets/snapchat.png" />
                <img *ngIf="social.key === 'Tiktok'" src="assets/tik-tok.png" />
                <img *ngIf="social.key === 'Facebook'" src="assets/facebook.png" />
            </ion-avatar>
            <ion-label>
                <h2>{{social.value}}</h2>
                <p>{{social.key}}</p>
            </ion-label>

            <ion-buttons slot="end" style="width: 1%;">
                <ion-button color="my-secondary" (click)="deleteSocial(social.key)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end" style="width: 6%;">
                <ion-button color="my-secondary" (click)="editSocial()">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
            </ion-buttons>

        </ion-item>
        <!-- <ion-item style="margin: 10%;">
            <ion-avatar slot="start">
                <img src="assets/twitter.png" />
            </ion-avatar>
            <ion-label>
                <h2>Twitter</h2>
                <p>#MohamedFerhi</p>
            </ion-label>
        </ion-item>
        <ion-item style="margin: 10%;">
            <ion-avatar slot="start">
                <img src="assets/facebook.png" />
            </ion-avatar>
            <ion-label>
                <h2>Facebook</h2>
                <p>/MohamedFerhi</p>
            </ion-label>
        </ion-item>
        <ion-item style="margin: 10%;">
            <ion-avatar slot="start">
                <img src="assets/snapchat.png" />
            </ion-avatar>
            <ion-label>
                <h2>Snapshat</h2>
                <p>#MohamedFerhi</p>
            </ion-label>
        </ion-item>
        <ion-item style="margin: 10%;">
            <ion-avatar slot="start">
                <img src="assets/tik-tok.png" />
            </ion-avatar>
            <ion-label>
                <h2>Tiktok</h2>
                <p>#MohamedFerhi</p>
            </ion-label>
        </ion-item> -->
    </ion-list>



</ion-content>